
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCurrencyLabel" translate="bbillingApp.currency.home.createOrEditLabel">Create or edit a Currency</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="currency.id" readonly />
        </div>
        <div class="form-group">
            <label translate="bbillingApp.currency.currencyCode" for="field_currencyCode">CurrencyCode</label>
            <input type="text" class="form-control" name="currencyCode" id="field_currencyCode"
                    ng-model="currency.currencyCode"
                    required ng-minlength="1" ng-maxlength="6" />
            <div ng-show="editForm.currencyCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.currencyCode.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.currencyCode.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.currencyCode.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="6">
                    This field cannot be longer than 6 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="bbillingApp.currency.currencyDescription" for="field_currencyDescription">CurrencyDescription</label>
            <input type="text" class="form-control" name="currencyDescription" id="field_currencyDescription"
                    ng-model="currency.currencyDescription"
                    ng-minlength="1" ng-maxlength="20" />
            <div ng-show="editForm.currencyDescription.$invalid">
                <p class="help-block"
                    ng-show="editForm.currencyDescription.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.currencyDescription.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="bbillingApp.currency.country" for="field_country">country</label>
            <select class="form-control" id="field_country" name="country" ng-model="currency.countryId" ng-options="country.id as country.countryName for country in countrys">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
