
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBranchLabel" translate="bbillingApp.branch.home.createOrEditLabel">Create or edit a Branch</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="branch.id" readonly />
        </div>
        <div class="form-group">
            <label translate="bbillingApp.branch.branchCode" for="field_branchCode">BranchCode</label>
            <input type="text" class="form-control" name="branchCode" id="field_branchCode"
                    ng-model="branch.branchCode"
                    required ng-minlength="1" ng-maxlength="20" />
            <div ng-show="editForm.branchCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.branchCode.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.branchCode.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.branchCode.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="bbillingApp.branch.branchName" for="field_branchName">BranchName</label>
            <input type="text" class="form-control" name="branchName" id="field_branchName"
                    ng-model="branch.branchName"
                    required ng-minlength="1" ng-maxlength="100" />
            <div ng-show="editForm.branchName.$invalid">
                <p class="help-block"
                    ng-show="editForm.branchName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.branchName.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.branchName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
